@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
/* 
llamar fuente:

font-family: 'Balsamiq Sans', cursive; 

*/

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap");
/* 

llamar fuente:
font-family: 'Big Shoulders Text', cursive;

*/

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* llamar 
fuente font-family: 'Lobster', cursive;
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	background-color: #a6d0dd;
}

.navbar {
	display: flex;
	position: fixed;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	background: #ff6969;
	padding: 5px;
	justify-content: space-around;
	align-items: center;
}

.navbar h1 {
	white-space: nowrap;
	align-self: center;
	display: flex;
	margin-right: 4%;
	font-family: "Lobster", cursive;
	font-size: 4vw;
	color: #98d8aa;
	pointer-events: none;
}

.logoYerbaCute {
	width: 10vw;
	display: flex;
	background: #ffd3b0;
	padding: 5px;
	max-width: 70px;
	max-height: 70px;
	border-radius: 70px;
	margin-right: 10px;
	margin-left: 40px;
}

.navlist {
	display: flex;
	margin: 10px;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
}

.navlist a {
	color: #ffd3b0;
	font-family: "Balsamiq Sans", cursive;
	font-weight: 500;
	font-size: 15px;
	padding: 2px;
	margin: 3px;
	border: 2px solid transparent;
	border-radius: 10px;
}

.navlist a:hover {
	color: #ffea28;
	border: 2px solid #ffd4b03a;
	border-radius: 10px;
	font-size: 15px;
	background: transparent;
	padding: 2px;
}

.navlist button {
	border: 3px solid grey;
	color: #252525;
	background-color: #ffd3b0;
	border-radius: 15px;
	height: 30px;
	width: 90px;
	text-align: center;
	text-decoration: underline transparent;
	display: inline-block;
	cursor: pointer;
}

.navlist button:hover {
	border: 2px solid palevioletred;
	background-color: #ffd3b0;
	border-radius: 15px;
	font-weight: 600;
	color: palevioletred;
	height: 30px;
	width: 90px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
